<div style="width: 35%; height: 35%;" class="container pt-5">
  <!-- Default form login -->
  <form
    class="text-center border border-light p-5"
    action="/users/reset-link"
    method="POST"
  >
    <p class="h4 mb-4">Email with instructions will be sent</p>

    <!-- Email -->
    <input
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="E-mail"
      name="email"
      required
    />

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">
      Send the Link
    </button>
  </form>
  <!-- Default form login -->
</div>
